@import "../../../../../styles.scss";

.redes {
    .description {
        text-align: center;
    }

    .filters {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        @include md {
            flex-direction: row;
        }
        .tags {
            width: 100%;
            display: block;
            text-align: center;
            @include md {
                display: flex;
            }
        }
        .form-control {
            height: 48px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 12px 16px;
            gap: 8px;
            background: #ffffff;
            border: 1px solid #d0d5dd;
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            border-radius: 8px;
            &.text-area {
                height: unset;
            }
            width: 100%;
            @include md {
                width: auto;
            }
        }
        .rounded-btn {
            display: inline-flex;
            margin-bottom: 10px;
            @include md {
                margin-bottom: 0px;
            }
        }
        .search {
            width: 100%;
            @include md {
                width: auto;
            }
        }
    }

    .list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        @include md {
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }

    .card {
        background: #f9fafb;
        display: flex;
        flex-direction: row;
        height: 100%;
        .caption {
            height: 100%;
            width: 75%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .tags {
            display: flex;
            justify-content: center;
        }
        .tag {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 6px 8px;
            gap: 8px;
            height: 25px;
            background: #f7f8f9;
            border-radius: 2px;
            width: max-content;
            font-size: 10px;
            line-height: 13px;
            text-align: center;
            color: #4b5768;
        }
        h4 {
            font-size: 14px;
        }
        h3 {
            font-size: 12px;
        }
        .fecha {
            font-size: 14px;
            line-height: 18px;
            color: #047857;
        }
        .content {
            font-size: 12px;
            line-height: 20px;
        }
        .view-more-btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 6px 12px;
            gap: 4px;
            color: #ffffff;
            font-size: 16px;
            line-height: 20px;
            background: #013f55;
            border-radius: 4px;
            color: white;
            width: 100%;
            margin-top: auto;
        }
        .pic {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 25%;
            padding-right: 15px;
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            picture {
                align-items: center;
                justify-content: center;
                width: 70px;
                height: 70px;
                @include md {
                    width: 100px;
                    height: 100px;
                }
            }
            img {
                width: 70px;
                height: 70px;
                @include md {
                    width: 100px;
                    height: 100px;
                }
            }
            h3,
            h4 {
                text-align: center;
            }
        }
    }
}
