h4 {
    color: #047857;
}

.image {
    border-radius: 12px;
    overflow: hidden;
}

.bg-grey {
    background: rgba(217, 217, 217, 0.24);
}

.material-icons {
    font-size: 16px;
    margin-left: 10px;
}
